CLINIKO_API_KEY=
CLINIKO_SUBDOMAIN=
MS_TENANT_ID=
MS_CLIENT_ID=
MS_CLIENT_SECRET=
SENDER_EMAIL=
OUTPUT_PATH=~/Desktop/
WORKLIST_FILE_KEYWORDS=EPC,DVA,Workcover
PREFERRED_FILE_KEYWORDS=determination,ILC,NDIS
SCAN_DAYS=7
